*{
    box-sizing: border-box;
}
body{
    background-color: #333;
    margin: 0;
}
.wrap{
    display: flex;
    width: 100vw;
    height: 100vh;
}


.wrap .bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-filter:blur(5px);
    z-index: 0;
    background: url("https://images.unsplash.com/photo-1464257000276-bf158cf6c2e9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c25b5a794192b06f2d1bad7d30864f6a") center/cover ;
}
.wrap .bg:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: hsla(0,100%,0%,0.6);
    width: 100%;
    height: 100%;
}

p{
    margin: 0 20px;
}

.box{
    position: relative;
    line-height:350px;
    z-index: 1;
    padding: 20px;
    font-size: 48px;
    color: #333;
    text-align: center;
    margin: auto;
    width: 600px;
    height: 400px;
    background-color: #fff;
    border:10px dashed hsla(0,0%,100%,0.5);
    background-clip: content-box;
    border-radius: 10px;
    font-weight: bold;
}

.box:before,
.box:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 280px;
    background-color: #333;
    transform-origin: 50% 50%;
    top: 100px;
    box-shadow: 1px 1px 1px hsla(0,100%,0%,0.2);
}

.box:before{
    left: 15px;
    transform:rotate(15deg);
}

.box:after{
    right: 15px;
    transform:rotate(-15deg);
}