* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 0;
}

.title {
    margin: 1.2em auto 0 auto;
    text-align: center;
    color: #666;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}

.wrap {
    display: flex;
    width: 100vw;
    height: calc(100vh - 150px);
    padding: 30px;
    color: #333;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.box {
    margin: 10px 30px;
}

.box-desc {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #666;
}

body {
    width: 600px;
    height: 800px;
    margin: 0 auto;
}

/* background-attachment ï¼š fixed*/
body,main::before{
    background: url("../img/Literate_fools.png") 0 / cover fixed;
}

.article {
    /*background: url("../img/Literate_fools.png") no-repeat center / cover;*/
    padding: 30px 40px;
    width: 600px;
    height: 800px;
}

main {
    line-height: 1.4;
    color: #333;
    position: relative;
    text-align: center;
    padding: 10px 30px;
    font-size: 18px;
    overflow: hidden;
    box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset,
    0 .5em 1em rgba(0, 0, 0, 0.6);
    background: hsla(0, 0%, 100%, 0.4);
    border-radius: 10px;

}

main > pre{
    font-family:'Gochi Hand', cursive;
    letter-spacing: 0.05em;
    word-spacing:0.3em;
}

main:before {
    z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-filter: blur(20px);
    filter: blur(200px);
    margin: -30px;

}







