* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 0;
}

.title {
    margin: 1.2em auto 0 auto;
    text-align: center;
    color: #666;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}

.wrap {
    display: flex;
    width: 100vw;
    height: calc(100vh - 150px);
    padding: 30px;
    color: #333;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.box {
    margin: 10px 30px;
}

.box-desc {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #666;
}

.box-desc-sec{
    font-size: 14px;
}

.card{
    margin: 0 auto;
    line-height: 1.8;
    width: 200px;
    height: 200px;
    border:1px solid #ddd;
    padding: 1em 1.9em;
    font-size: 16px;
    color: #ccc;
    font-weight: bold;
}

.card-1{
    text-align: justify;
}

.card-2{
    -webkit-hyphens:auto;
    hyphens:auto;
}

