* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 0;
}

.title {
    margin: 1.2em auto 0 auto;
    text-align: center;
    color: #666;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}

.wrap {
    display: flex;
    width: 100vw;
    height: calc(100vh - 150px);
    padding: 30px;
    color: #333;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.box {
    margin: 10px 30px;
}

.box-desc {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #666;
}

.demo-body {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0 0 30px 30px rgba(0, 0, 0, 0.7); /*prevent blur light edge*/
}

main {
    padding: 1em 1.5em;
    font-size: 24px;
    line-height: 1.6;
    height: 100%;
    color: #eee;
    background: linear-gradient(#e79584, #E74C3C);
    overflow: hidden;
}

main.blur {
    -webkit-filter: blur(5px) brightness(0.5);
    filter: blur(5px) brightness(0.5);
}

.pop {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 200px;
    z-index: 10;
    background-color: #eee;
    font-size: 36px;
    text-align: center;
    line-height: 200px;
    border-radius: 5px;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.3);
}










