* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 0;
}

.title {
    margin: 1.2em auto 0 auto;
    text-align: center;
    color: #666;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}

.wrap {
    display: flex;
    width: 100vw;
    height: calc(100vh - 150px);
    padding: 30px;
    color: #333;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.box {
    margin: 10px 30px;
}

.box-desc {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #666;
}

::-webkit-scrollbar{
    width: 6px;
    height: 3px;
}



::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: hsla(180,80%,40%,0.8);
}

.list-wrap{
    height: 20em;
    overflow: auto;
    padding:0.5em 1em;
}

.list{
    min-width: 150px;
    line-height: 1.6;
    font-size: 18px;
    color: #333;
}

.wrap{
    overflow: auto;
}

.list-wrap{
    background-color: #fff;
}

/*list-2*/
.fixed{
    background: url("../img/dog.gif") #fff center/200px 150px fixed;
}

.scroll{
    background: url("../img/dog.gif") #fff center/200px 150px scroll;
}

.local{
    background: url("../img/dog.gif") #fff center/200px 150px local;
}

.final{
    background: linear-gradient(#ffb131 3em,transparent 0,transparent calc(100% - 3em), #ffb131 0)no-repeat top/100% 100% local,
    radial-gradient(at top,rgba(0,0,0,0.5),transparent 70%)no-repeat top/100% 2em scroll,
    radial-gradient(at bottom,rgba(0,0,0,0.5),transparent 70%)no-repeat bottom/100% 2em scroll #fff;
}

.final-2{
    background: linear-gradient(#fff 3em,hsla(0,0%,100%,0) 0,hsla(0,0%,100%,0) calc(100% - 3em),#fff 0)no-repeat top/100% 100% local,
    radial-gradient(at top,rgba(0,0,0,0.4),transparent 70%)no-repeat top/100% 1em scroll,
    radial-gradient(at bottom,rgba(0,0,0,0.4),transparent 70%)no-repeat bottom/100% 1em scroll #fff;
}

.final-2 .list{
    color: #0c7772;
}














