* {
    box-sizing: border-box;
}

body {
    background-color: #333;
    margin: 0;
}

.title {
    margin: 1.2em auto 0 auto;
    text-align: center;
    color: #666;
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}

.wrap {
    display: flex;
    width: 100vw;
    height: calc(100vh - 150px);
    padding: 30px;
    color: #333;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.box {
    margin: 10px 30px;
}

.box-desc {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #666;
}

.card{
    position: relative;
    width: 400px;
    background-color: #94c6b0;
    color: #2b6b59;
    padding: 1em;
    height: 300px;
    font-size: 14px;
}

main{
    background-color: hsla(0,0%,100%,0.4);
    padding: 1em 2em;
}

main h2,
main p{
    text-align: center;
    margin: 0.5em 0;
}

/*vertical centering method*/
.main-1{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: calc(100% - 2em);
    height: min-content;
    margin: auto;
}

.main-2{
    position: absolute;
    width: calc(100% - 2em);
    height: 200px;
    left: 50%;
    top: 50%;
    margin-left:calc(1em - 50%); /*-(width * 0.5)*/
    margin-top: -100px;
}

.main-3{
    margin: auto;
}

.main-4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 2em);
}

.main-5{
    width: 36em;
    margin: 50vh auto 0;
    transform: translateY(-50%);
    background-color: #eee;
}

button{
    padding: 1em 1.5em;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2b6b59;
    border:none;
    outline: none;
    display: block;
    margin: auto;
    cursor: pointer;
}

.pop{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
}

.main-7{
    width: calc(100% - 2em);
    align-self: center;
}












